.about h2{
    margin-top: 4%;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: -20px;
}

.about {
    background-color: #f5f5f5;
}

.about .container{
    margin-top: 4%;
}

.about img {
    max-width: 100%;
    max-height: 450px;
    margin-right: 50px;
}

.about p{
    font-size: 19px;
    margin-left: 50px;
}

@media (max-width: 768px) {
    .image{
        display: none;
    }

    .about {
        background-color: #f5f5f5;
    }

    .about .info{
        text-align: center;
        justify-content: center;
    }
  }