.events {
  padding: 60px;
}

.events h2{
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 45px;
}

.card-bodyyy {
  padding: 20px;
}

.card-titleee {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.card-texttt {
  margin-top: 20px;
  font-size: 0.9em;
  color: #666;
}

.btn-primary {
  margin-top: 20px;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.carousel-item {
  text-align: center;
}

@media (max-width: 767px) {
  .flex-basis-50 {
    flex-basis: 50%;
  }
}

@media (min-width: 768px) {
  .flex-basis-33 {
    flex-basis: 33.333%;
  }
}
