.group-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.group-detail-container h1 {
  font-size: 46px;
  margin-top: -50px;
}

.group-detail-container img {
  margin-top: 30px;
  max-width: 100%;
  margin-bottom: 30px;
}

.group-detail-container h2 {
  font-size: 24px;
  text-align: center;
}

.group-detail-researchArea p {
  text-align: left;
}

.group-detail-container p2 {
  text-align: left;
  margin-top: 28px;
}

.loading {
  text-align: center;
  margin-bottom: 1000px;
}

.group-detail-container .integrantes-heading {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 5px;
}

.group-detail-container .integrantes-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.group-detail-container .redes-heading {
  margin-top: 50px;
  text-align: center;
}

.group-detail-redes {
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.icons-social-medias{
  margin-top: 10px;
}

.social-links i, .email-links i {
  color: rgb(0, 0, 0);
}

.social-links{
  display: contents;
}

.social-links p{
  margin: 0;
  display: flex;
}