  .Groups {
    margin-top: 80px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  .card {
    flex: 1;
    margin: 0 15px 15px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  .card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .card-content .card-body {
    flex: 1;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  img.member {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }

  .bottom-cta {
    flex: 1;
    align-items: end;
  }

  .loading {
    text-align: center;
    margin-bottom: 1000px;
  }

  .card-img {
    height: 300px;
    object-fit: contain;
  }