.Home {
    background-color: #f5f5f5;
    margin-top: 80px;
}

.video-faq-container {
    gap: 20px;
    align-items: flex-start;
}

.video-faq-container {
    display: flex;
}

@media screen and (max-width: 768px) {
    .video-faq-container {
        display: block !important;
    }
}