.navbar {
  width: 100%;
  height: 80px;
  background-color: #111 !important;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 10px;
  position: fixed !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  outline: none;
  box-shadow: none;
}

.custom-bg-color {
  background-color: #111;
}

.navbar-collapse.collapsing {
  display: none;
}

.navbar-collapse.collapse.show {
  display: block;
}

.navbar-links {
  margin-left: auto;
  display: flex;
  margin-right: 5%;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  margin: 0 30px;
}

.navbar-logo {
  height: 50px;
}

.text-white {
  margin-top: 30px;
}
