.Papers {
  margin-top: 80px;
}

.h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

 .card-body {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

 .card-research {
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.bottom-cta {
  flex: 1;
  align-items: end;
}

.loading {
  text-align: center;
  margin-bottom: 1000px;
}