.Papers {
  margin-top: 80px;
}

.h1{
  margin-top: 20px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.card-titlee {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-contentt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

 .card-bodyy {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-textt {
  margin-top: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.card-end {
  margin-top: 20px;
  margin-bottom: 40px;
}

.text-grey {
  color: grey;
}