.proyect-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.proyect-detail-container img {
  margin-top: 50px;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
  aspect-ratio: 16/9;
}

.proyect-detail-container h2 {
  font-size: 24px;
  margin-bottom: -20px;
  text-align: center;
}

.proyect-detail-container p {
  margin-bottom: 40px;
  text-align: left;
}

.proyect-detail-container .integrantes-heading {
  text-align: left;
}

.proyect-detail-container .integrantes-container {
  display: flex;
  flex-wrap: wrap;
}


.integrantes-list {
  margin-bottom: 60px;
  list-style: none;
  padding: 1;
}

.integrante-item {
  margin-bottom: -50px;
}

.integrante-info {
  display: flex;
  align-items: center;
}

.integrante-info span {
  margin-left: 10px;
}

.proyect-detail-video {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 30px;
}

.proyect-detail-container .link-heading {
  margin-bottom: 20px;
  text-align: left;
}

.proyect-detail-link {
  font-size: 16px;
}

.proyect-detail-container .repository-heading {
  margin-bottom: 20px;
  text-align: left;
}

.proyect-detail-repository {
  font-size: 16px;
}