.proyect-detail {
    padding: 20px;
  }
  
  .d-flex {
    align-items: center;
    justify-content: center;
  }
  
  .proyect-detail h2{
    margin-top: 1%;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 45px;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 0.9em;
    color: #666;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .carousel-item {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .flex-basis-50 {
      flex-basis: 50%;
    }
  }
  
  @media (min-width: 768px) {
    .flex-basis-33 {
      flex-basis: 33.333%;
    }
  }
  
  .card {
    max-width: 300px;
    margin: 0 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 3%;
    margin-bottom: 3%;
  }
  