.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.integrantes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.integrantes-row {
  margin-bottom: 20px;
}

.integrante-item {
  margin: 10px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 24px;
  font-weight: bold;
}
